<h1>Products</h1>
<% cart.each do |x| %>
  <p><%= x %></p>
<% end %>

<h1>Add More Products</h1>
<%= form_tag({controller: "products", action: "add", method: "post"}) do %>
  <input type="text" name="product">
  <input type="submit" value="add to cart">
<% end %>
